<!-- Also, you can use the safelist attribute in the tailwind.config.js file -->
<!-- More info https://tailwindcss.com/docs/content-configuration#safelisting-classes -->
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TailwindCSS Safe List</title>
</head>
<body>
<!-- Put the tailwind whitelist classes below -->
</body>
</html>
