<header role="banner">
  <nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
    <div class="container-fluid p-0 d-flex align-items-stretch">
      {{ header }}
      <div class="navbar-collapse d-flex flex-column flex-md-row justify-content-center justify-content-md-end" id="navbarSupportedContent">
        {{ primary_menu }}
        {{ secondary_menu }}
      </div>
    </div>
  </nav>
</header>
